<a href="#home" class="label label-info">Titel</a>
<a href="#about" class="label label-success">Om mig</a>
<a href="#interests" class="label label-warning">Intressen</a>
<a href="#contact" class="label label-danger">Kontakt</a>
<a href="#footer" class="label label-default">Footer</a>