<div class="ed-plan">
    Termin 1
    <br />
    <a target="_blank" href="~/Resource/Informatik/Informatik%20med%20systemvetenskaplig%20inriktning%20A,%2030.pdf">
        Informatik med systemvetenskaplig inriktning A, 30hp
    </a>
    <br />
    <br />
    Termin 2
    <br />
    <a target="_blank" href="~/Resource/Informatik/Informatik%20B,%20Verksamhetsmodellering%20med%20RUP,%207,5.pdf">
        Informatik B, Verksamhetsmodellering med RUP, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/Informatik/Informatik%20B,%20Objektorienterad%20analys%20och%20design%20med%20RUP,%207,5.pdf">
        Informatik B, Objektorienterad analys och design med RUP, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/Informatik/Informatik%20B,%20Systemutvecklingsprojekt%20med%20Scrum%20och%20Extreme%20Programming,%207,5%20.pdf">
        Informatik B, Systemutvecklingsprojekt med Scrum och Extreme Programming, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/Informatik/Informatik%20B,%20Interaktionsdesign,%207,5%20.pdf">
        Informatik B, Interaktionsdesign, 7,5hp
    </a>
    <br />
    <br />
    Termin 3
    <br />
    <a target="_blank" href="~/Resource/Informatik/Informatik%20B,%20Klientprogrammering%20f%c3%b6r%20webbsystem,%207,5.pdf">
        Informatik B, Klientprogrammering för webbsystem, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/Informatik/Informatik%20B,%20Databashantering%20med%20SQL%20Server,%207,5.pdf">
        Informatik B, Databashantering med SQL Server, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/Informatik/Informatik%20B,%20Objektorienterad%20programmering%20med%20C,%207,5.pdf">
        Informatik B, Objektorienterad programmering med C, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/Informatik/Informatik%20B,%20Webbsystem%20med%20.NET,%207,5.pdf">
        Informatik B, Webbsystem med .NET, 7,5hp
    </a>
    <br />
    <br />
    Termin 4
    <br />
    <a target="_blank" href="~/Resource/Informatik/Informatik%20B,%20Systemutvecklingsprojekt,%2030.pdf">
        Informatik B, Systemutvecklingsprojekt, 30hp
    </a>
    <br />
</div>
