<div class="ed-plan">
    Termin 1
    <br />
    <a target="_blank" href="~/Resource/rtg/Medicin%20A,%20Vetenskaplig%20grundkurs,%207,5hp.pdf">
        Medicin A, Vetenskaplig grundkurs, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/rtg/Medicin%20A,%20Introduktion%20till%20medicin,%207,5%20h%c3%b6gskolepo%c3%a4ng.pdf">
        Medicin A, Introduktion till medicin, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/rtg/Medicin%20A,%20Str%c3%a5lningsfysik%20och%20radiologisk%20metodik%20I,%207,5hp.pdf">
        Medicin A, Strålningsfysik och radiologisk metodik I, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/rtg/V%c3%a5rdkommunikation%20A,%20Ledarskap%20i%20v%c3%a5rden,%207,5%20hp.pdf>
       Vårdkommunikation A, Ledarskap i vården, 7,5hp</a>
    <br /><br />
    Termin 2
    <br />
    <a target="_blank" href="~/Resource/rtg/Medicin%20A,%20Fysiologi,%2015.pdf">
        Medicin A, Fysiologi, 15hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/rtg/Medicin%20B,%20Sjukdomsl%c3%a4ra%20med%20farmakologi,%2015.pdf">
        Medicin B, Sjukdomslära med farmakologi, 15hp
    </a>
    <br /><br />
    Termin 3
    <br />
    <a target="_blank" href="~/Resource/rtg/Medicin%20A,%20Str%c3%a5lningsfysik%20och%20radiologisk%20metodik%20II,%207,5.pdf">
        Medicin A, Strålningsfysik och radiologisk metodik II, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/rtg/Medicin%20B,%20Str%c3%a5lningsfysik%20och%20radiologisk%20metodik%20III,%207,5.pdf">
        Medicin B, Strålningsfysik och radiologisk metodik III, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/rtg/Omv%c3%a5rdnadsvetenskap%20A,%2015.pdf">
        Omvårdnadsvetenskap A, 15.pdf
    </a>
    <br /><br />
    Termin 4
    <br />
    <a target="_blank" href="~/Resource/rtg/Medicin%20B,%20Anatomi,%207,5%20.pdf">
        Medicin B, Anatomi, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/rtg/Medicin%20A,%20Radiologi,%20metodik%20I,%2015%20.pdf">
        Medicin A, Radiologi, metodik I, 15hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/rtg/Omv%c3%a5rdnadsvetenskap%20A,%20Dokumentation,%20kvalitet%20och%20evidens,%207,5.pdf">
        Omvårdnadsvetenskap A, Dokumentation, kvalitet och evidens, 7,5hp
    </a>
    <br /><br />
    Termin 5
    <br />
    <a target="_blank" href="~/Resource/rtg/Medicin%20B,%20Radiologi,%20metodik%20II,%2022,5.pdf">
        Medicin B, Radiologi, metodik II, 22,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/rtg/Omv%c3%a5rdnadsvetenskap%20A,%20akut%20och%20sv%c3%a5rt%20sjuk%20patient,%207,5.pdf">
        Omvårdnadsvetenskap A, akut och svårt sjuk patient, 7,5hp
    </a>
    <br /><br />
    Termin 6
    <br />
    <a target="_blank" href="~/Resource/rtg/Medicin%20C,%20Radiologi,%20metodik%20III,%207,5.pdf">
        Medicin C, Radiologi, metodik III, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/rtg/Medicin%20C,%20Diagnostik%20inom%20radiologi,%207,5%20.pdf">
        Medicin C, Diagnostik inom radiologi, 7,5hp
    </a>
    <br />
    <a target="_blank" href="~/Resource/rtg/Medicin%20C,%20Examensarbete,%2015%20.pdf">
        Medicin C, Examensarbete, 15hp
    </a>
    <br />
</div>
