<div id="tumb-systemvetare" class="tumb-unit">
    <div class="tumb-overlay">
        <strong>Systemvetare</strong>
        <p>Kanditat examen Januari 2015</p>
        <p>(Pågående)</p>
    </div>
</div>
<div id="tumb-system" class="tumb-unit">
    <div class="tumb-overlay">
        <strong>Systemutvecklare</strong>
        <p>Högskole examen Juni 2014</p>
    </div>
</div>
<div id="tumb-rtgssk" class="tumb-unit">
    <div class="tumb-overlay">
        <strong>Röntgensjuksköterska</strong>
        <p>Kanditat examen Juni 2011</p>
    </div>
</div>
<div id="tumb-usk" class="tumb-unit">
    <div class="tumb-overlay">
        <strong>Undersköterska</strong>
        <p>Gymnasie examen Juni 2008</p>
    </div>
</div>


