<div id="ed-systemvetare" class="thumb-container">
    <div class="close-btn">
        <span class="glyphicon glyphicon-remove" style="float:right"></span>
    </div>
    <p class="skills-fontHeader">Systemutvetare (pågående)</p>
    <p class="skills-exam">Kandidat examen jan 2015</p>
    <p class="skills-text">Två årig utbildning.....</p>
</div>
<div id="ed-system" class="thumb-container">
    <div class="close-btn">
        <span class="glyphicon glyphicon-remove" style="float:right"></span>
    </div>
    <p class="skills-fontHeader">Systemutvecklare</p>
    <p class="skills-exam">Högskole examen juni 2014</p>
    <p class="skills-text">Två årig utbildning.....</p>
</div>
<div id="ed-xray" class="thumb-container">
    <div class="close-btn">
        <span class="glyphicon glyphicon-remove" style="float:right"></span>
    </div>
    <p class="skills-fontHeader">Röntgensjuksköterska</p>
    <p class="skills-exam">Kandidat examen juni 2011</p>
    <p class="skills-text">Tre årig utbildning.....</p>
</div>
<div id="ed-nurse" class="thumb-container">
    <div class="close-btn">
        <span class="glyphicon glyphicon-remove" style="float:right"></span>
    </div>
    <p class="skills-fontHeader">Undersköterska</p>
    <p class="skills-exam">Gymnasie utbildning juni 2008</p>
    <p class="skills-text">Ett årig utbildning.....</p>
</div>
<div id="fade" class="black_overlay"></div>
