<div id="ed-systemvetare" class="thumb-container">
    <div class="close-btn">
        <span class="glyphicon glyphicon-remove" style="float:right"></span>
    </div>
    <p class="skills-fontHeader">Systemutvetare (pågående)</p>
    <p class="skills-exam">Kandidat examen jan 2015</p>
    <p class="skills-text">
        <strong class="about-text-beginText">Utbildningen är treårig</strong>
        och består av
        <strong class="about-text-highlight">informatik</strong>-kurser 
        på a, b och c-nivå. Under utbildningen har jag läst
        <strong class="about-text-highlight">objektorienterad</strong>
        programmering,<br />designa/skapa webbapplikation med
        <strong class="about-text-highlight">HTML</strong>,
        <strong class="about-text-highlight">CSS</strong>,
        <strong class="about-text-highlight">Javascript</strong>,
        <strong class="about-text-highlight">JAVA</strong>-programmering i Netbeans,
        <strong class="about-text-highlight">C#</strong>-programmering i Visual Studio samt
        <strong class="about-text-highlight">SQL</strong>
        med Microsoft SQL server.<br />
        Har även studerat
        <strong class="about-text-highlight">interaktionsdesign</strong>,
        <strong class="about-text-highlight">RUP</strong>,
        <strong class="about-text-highlight">SCRUM</strong> och
        <strong class="about-text-highlight">XP</strong>-metoder.<br />
        Fjärde terminen bestod av ett
        <strong class="about-text-highlight">examensarbete</strong>
        hos ett företag, där jag skapade ett
        <strong class="about-text-highlight">tidsrapporterings-webbapplikation</strong>
        som kommunicerade med <br />företagets-databas via en
        <strong class="about-text-highlight">WCF</strong>-service.<br />
        Sista terminen innehåller 
        <strong class="about-text-highlight">kunskapsfilosofi</strong>,
        <strong class="about-text-highlight">systemutvecklingsteori</strong>, och
        <strong class="about-text-highlight">C-uppsatsarbete</strong>.
    </p>
    <br />
    <p><strong style="font-size: 20px; font-weight: 700;">Kursplaner</strong></p>
    @{Html.RenderPartial("_Educationsplans");}
    <br />
    <p class="ed-plan">Termin 5</p>
    <a target="_blank" href="~/Resource/Informatik/Informatik%20med%20systemvetenskaplig%20inriktning%20C,%2030.pdf">
        Informatik med systemvetenskaplig inriktning C, 30hp
    </a>
    <br />
</div>

<div id="ed-system" class="thumb-container">
    <div class="close-btn">
        <span class="glyphicon glyphicon-remove" style="float:right"></span>
    </div>
    <p class="skills-fontHeader">Systemutvecklare</p>
    <p class="skills-exam">Högskole examen juni 2014</p>
    <p class="skills-text">
        <strong class="about-text-beginText">Utbildningen varade i två år</strong>  
        och bestod av
        <strong class="about-text-highlight">informatik</strong> 
        -kurser på a och b-nivå. Under utbildningen har jag läst
        <strong class="about-text-highlight">objektorienterad</strong>  
        programmering, <br />designa/skapa webbapplikation med 
        <strong class="about-text-highlight">HTML</strong>, 
        <strong class="about-text-highlight">CSS</strong>, 
        <strong class="about-text-highlight">Javascript</strong>,<br />
        <strong class="about-text-highlight">JAVA</strong>-programmering i Netbeans, 
        <strong class="about-text-highlight">C#</strong>-programmering i Visual Studio samt
        <strong class="about-text-highlight">SQL</strong> 
        med Microsoft SQL server.<br />
        Har även studerat 
        <strong class="about-text-highlight">interaktionsdesign</strong>, 
        <strong class="about-text-highlight">RUP</strong>, 
        <strong class="about-text-highlight">SCRUM</strong> och 
        <strong class="about-text-highlight">XP</strong>-metoder. <br />
        Sista terminen bestod av ett 
        <strong class="about-text-highlight">examensarbete</strong>
        hos ett företag, där jag skapade ett <br />
        <strong class="about-text-highlight">tidsrapporterings-webbapplikation</strong> 
        som kommunicerade med företagets-databas via en 
        <strong class="about-text-highlight">WCF</strong>-service.
    </p>
    <br />
    <p><strong style="font-size: 20px; font-weight: 700;">Kursplaner</strong></p>
    @{Html.RenderPartial("_Educationsplans");}
</div>

<div id="ed-xray" class="thumb-container">
    <div class="close-btn">
        <span class="glyphicon glyphicon-remove" style="float:right"></span>
    </div>
    <p class="skills-fontHeader">Röntgensjuksköterska</p>
    <p class="skills-exam">Kandidat examen juni 2011</p>
    <p class="skills-text">
        <strong class="about-text-beginText">Treårig utbildning </strong>
        som innehöll kurser i 
        <strong class="about-text-highlight">medicin</strong>
        a,b och c-nivå samt 
        <strong class="about-text-highlight">omvårdnadskurser</strong> 
        på A-nivå.<br /> Under utbildningen läste jag bland annat
        <strong class="about-text-highlight">strålningsfysik</strong>, 
        <strong class="about-text-highlight">fysiologi</strong>,
        <strong class="about-text-highlight">sjukdomslära</strong>,
        <strong class="about-text-highlight">farmakologi</strong>,<br />
        <strong class="about-text-highlight">anatomi</strong>,
        <strong class="about-text-highlight">radiologi</strong>,
        och 
        <strong class="about-text-highlight">akut</strong>-vårdnad.<br />
        Utbildningen bestod även av 
        <strong class="about-text-highlight">verksamhetsförlagda utbildning</strong>
        , där jag fick praktisera på röntgen- och vårdavdelningar.<br />
        Sista terminen skrev jag en 
        <strong class="about-text-highlight">C-uppsats</strong> <br />
        om vilken radiologisk undersökning som är lämpligast vid hematuri-utredning.
    </p>
    <br />
    <p><strong style="font-size: 20px; font-weight: 700;">Kursplaner</strong></p>
    @{Html.RenderPartial("_EducationsplansRTG");}
</div>

<div id="ed-nurse" class="thumb-container">
    <div class="close-btn">
        <span class="glyphicon glyphicon-remove" style="float:right"></span>
    </div>
    <p class="skills-fontHeader">Undersköterska</p>
    <p class="skills-exam">Gymnasie utbildning juni 2008</p>
    <p class="skills-text">
        <strong class="about-text-beginText">Ettårig eftergymnasium utbildning </strong>
        som bestod av kurser i 
        <strong class="about-text-highlight">arbetsmiljö och säkerhet</strong>, <br />
        <strong class="about-text-highlight">medicinsk grundkurs</strong>, 
        <strong class="about-text-highlight">omvårdnad</strong>, 
        <strong class="about-text-highlight">sjukvård</strong>, 
        <strong class="about-text-highlight">vård- och omsorgsarbete</strong>, <br />
        <strong class="about-text-highlight">etik och livsfrågor</strong>, 
        <strong class="about-text-highlight">social omsorg</strong> samt 
        <strong class="about-text-highlight">människan socialt och kulturellt</strong>.<br />
        Fick även 
        <strong class="about-text-highlight">praktisera</strong> 
        i Mjölby vårdcentral och ett äldreboende, för att lära mig omvårdnad och omsorg.
    </p>
</div>

