<div id="experience">
    <div id="tumb-ex-rtg" class="tumb-ex-unit">
        <div class="tumb-ex-overlay">
            <strong>Röntgen USÖ</strong>
            <p>2011-pågående</p>
            <p>leg.röntgensköterska</p>
        </div>
    </div>
    <div id="tumb-ex-usk" class="tumb-ex-unit">
        <div class="tumb-ex-overlay">
            <strong>Rosenlund</strong>
            <p>2008-2009</p>
            <p>Undersköterska</p>
        </div>
    </div>
    <div id="tumb-ex-rest" class="tumb-ex-unit">
        <div class="tumb-ex-overlay">
            <strong>Asiatisk Restaurang</strong>
            <p>2006-2007</p>
            <p>Kassör/Diskare</p>
        </div>
    </div>
</div>
