<div id="ex-rtg" class="thumb-container">
    <div class="close-btn">
        <span class="glyphicon glyphicon-remove" style="float:right"></span>
    </div>
    <p class="skills-fontHeader">Röntgen USÖ</p>
    <p class="skills-exam">2011 - Pågående</p>
    <p class="skills-text">
        <strong class="skills-text-s">Jobbat sedan juni 2011</strong> 
        på röntgen i USÖ efter jag tog röntgensjuksköterske-examen samma år.
        Jobbet går ut på att ta hand om patienter som remitteras till röntgen.
        Arbetsuppgifterna består av undersökningar i konventioneill röntgen,
         datortomografi, genomlysning och ultraljud, både i akutverksamhet och polikliniskverksamhet.
    </p>
    <div id="ex-rtg-icon" class="popUp-Icon"></div>
</div>
<div id="ex-usk" class="thumb-container">
    <div class="close-btn">
        <span class="glyphicon glyphicon-remove" style="float:right"></span>
    </div>
    <p class="skills-fontHeader">Rosenlund</p>
    <p class="skills-exam">2008 - 2009</p>
    <p class="skills-text">
        <strong class="skills-text-s">Under röntgenutbildningen 2008-2009 </strong> 
        jobbade jag på äldreboendet Rosenlund i Vivalla som undersjuksköterske vikariat. 
        I arbetet ingick det uppgifter som att ta hand om det dagliga omvårdnaden av vårdtagarna på boendet. 
        Fick även delegering för att ge mediciner till vårdtagarna.
    </p>
    <div id="ex-usk-icon" class="popUp-Icon"></div>
</div>
<div id="ex-rest" class="thumb-container">
    <div class="close-btn">
        <span class="glyphicon glyphicon-remove" style="float:right"></span>
    </div>
    <p class="skills-fontHeader">Asiatisk Restaurang</p>
    <p class="skills-exam">2006 - 2007</p>
    <p class="skills-text">
        <strong class="skills-text-s">Under gymnasie tiden </strong> 
        hjälpte jag till i mina föräldrars restaurang efter skolan. 
        Arbetsuppgifterna bestod av att stå i kassan, städa och 
        diska samt förbereda ingridienser inför matlagningen.
    </p>
    <div id="ex-rest-icon" class="popUp-Icon"></div>
</div>
