<div id="family">
    <div id="family-text" class="context-text">
        <p>
            <strong class="context-text-beginText">De som står mig närmast hjärtat </strong>
                är mina nära och kära, 
                bestående av mina <strong class="context-text-highlight">
                förälrar</strong>, två yngre <strong class="context-text-highlight">
                systrar</strong> och en yngre <strong class="context-text-highlight">
                bror</strong>.
                Samt min kära <strong class="context-text-highlight">
                sambo</strong> och vår kära <strong class="context-text-highlight">
                hund Sam</strong>. Dessutom underbara <strong class="context-text-highlight">
                vänner</strong> som gör
                tillvaron trevligare, roligare samt lättsinnigare.
                Att spendera tid tillsammans,
                göra saker tillsammans och unna oss god mat tillsammans är det mest värdefulla
                stunderna för mig.
</p>
    </div>
    <div id="family-wrap">
        <div id="family-icon">
        </div>
        <div id="dog-icon">
        </div>
    </div>
</div>
