<div id="interests">
    <div id="interests-text" class="context-text">
        <p>
            <strong>Det finns så mycket att upptäcka </strong>
            här i världen! Mina intressen är allt ifrån att sitta 
            <strong class="context-text-highlight">läsa en bok</strong> 
            till att dra ut på <strong class="context-text-highlight">äventyrliga resor</strong> 
            och därmed utforska andra kulturer, gastronomier och sevärdigheter. 
            <strong class="context-text-highlight">Matlagning</strong>, 
            <strong class="context-text-highlight">målning</strong> och 
            <strong class="context-text-highlight">fotografering</strong> är
            några av de största intressen jag sysslar med på fritiden, eftersom jag
            älskar att vara <strong class="context-text-highlight">kreativ</strong> 
            och gillar att pyssla med små projekt hemma.
        </p>
    </div>
    <div id="country-wrap">
        <br />
        <p id="country-text">Klicka här för att se vilka länder jag har rest till!</p>
        <div id="googleMap"></div>
    </div>
</div>
