<div id="about">
    <h3 id="aboute-title"class="font-headline">Om mig</h3>
    <div id="picture-wrap">
        <div class="row">
            <div id="profile-picture" class="col-xs-12 col-xs-offset-0">
                <div id="picture"></div>
            </div>
        </div>
        <div class="row">
            <div id="camera-icon" class="col-xs-6 col-sm-3">
                <div id="camera"></div>
            </div>
            <div id="computer-icon" class="col-xs-6 col-sm-3">
                <div id="computer"></div>
            </div>
            <div id="pencil-icon" class="col-xs-6 col-sm-3">
                <div id="pencil"></div>
            </div>
            <div id="book-icon" class="col-xs-6 col-sm-3">
                <div id="book"></div>
            </div>
        </div>
        </div>
    <br />
    <div id="profile-text">
        <p>
            <strong>Lorem ipsum dolor sit amet, </strong>
            consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea
        </p>
    </div>
    <div id="skills-wrap">
        <div id="skills">
            <div class="skills-unit">
                <div class="skills-lable">Kommunikation</div>
                <div class="skills-icons skill-8">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skills-unit">
                <div class="skills-lable">Inlärning</div>
                <div class="skills-icons skill-9">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skills-unit">
                <div class="skills-lable">Planering</div>
                <div class="skills-icons skill-7">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skills-unit">
                <div class="skills-lable">Samarbete</div>
                <div class="skills-icons skill-8">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skills-unit">
                <div class="skills-lable">Organisering</div>
                <div class="skills-icons skill-7">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skills-unit">
                <div class="skills-lable">Självständighet</div>
                <div class="skills-icons skill-8">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skills-unit">
                <div class="skills-lable">Kreativitet</div>
                <div class="skills-icons skill-7">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skills-unit">
                <div class="skills-lable">Programmering</div>
                <div class="skills-icons skill-7">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
        </div>
        <div id="education"></div>
        <div id="experience"></div>
    </div>
</div>



