@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div id="about" style="height:500px; background-color:#bad479">
    <p>Horisontell scroll, allmänt, utbildning, erfarenhet</p>

</div>


