<div id="about">
    <h3 id="aboute-title"class="font-headline">Om mig</h3>
    <div id="picture-wrap">
        <div class="row">
            <div id="profile-picture" class="col-xs-12 col-xs-offset-0">
                <div id="picture"></div>
            </div>
        </div>
        <div class="row">
            <div id="camera-icon" class="col-xs-6 col-sm-3">
                <div id="camera"></div>
            </div>
            <div id="computer-icon" class="col-xs-6 col-sm-3">
                <div id="computer"></div>
            </div>
            <div id="pencil-icon" class="col-xs-6 col-sm-3">
                <div id="pencil"></div>
            </div>
            <div id="book-icon" class="col-xs-6 col-sm-3">
                <div id="book"></div>
            </div>
        </div>
        </div>
    <br />
    <div id="profile-text">
        <p>
            <strong>Lorem ipsum dolor sit amet, </strong>
            consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea
        </p>
    </div>
    <div id="arrow-wrap">
        <div id="leftArrow-wrap">
            <div id="arrowL"></div>
            <p id="arrowTextL" class="arrowText">Utbildning</p>
            
        </div>
        <div id="rightArrow-wrap">
            <div id="arrowR"></div>
            <p id="arrowTextR" class="arrowText">Erfarenheter</p>
        </div>
    </div>

    <div id="skills-wrap">
        <div id="education-container">
            <p class="font-headline">Utbildning</p>
            <div id="education">
                @{Html.RenderPartial("_Education");}
            </div>
        </div>

        <div id="skills-container">
            <p class="font-headline">Egenskaper</p>
            @{Html.RenderPartial("_Skills");}
        </div>

        <div id="experience-container">
            <p class="font-headline">Erfarenheter</p>
            @{Html.RenderPartial("_Experience");}
        </div>
    </div>
</div>







