<div id="about">
    <h3 id="aboute-title"class="font-headline">Om mig</h3>
    <div id="picture-wrap">
        <div class="row">
            <div id="profile-picture" class="col-xs-12 col-xs-offset-0">
                <div id="picture"></div>
            </div>
        </div>
        <div class="row">
            <div id="camera-icon" class="col-xs-6 col-sm-3">
                <div id="camera"></div>
            </div>
            <div id="computer-icon" class="col-xs-6 col-sm-3">
                <div id="computer"></div>
            </div>
            <div id="pencil-icon" class="col-xs-6 col-sm-3">
                <div id="pencil"></div>
            </div>
            <div id="book-icon" class="col-xs-6 col-sm-3">
                <div id="book"></div>
            </div>
        </div>
        </div>
    <br />
    <div id="profile-text">
        <p>
            <strong>Lorem ipsum dolor sit amet, </strong>
            consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea
        </p>
    </div>
    <div id="arrow-wrap">
        <div id="leftArrow-wrap">
            <div id="arrowL"></div>
            <p id="arrowTextL" class="arrowText">Utbildning</p>
            
        </div>
        <div id="rightArrow-wrap">
            <div id="arrowR"></div>
            <p id="arrowTextR" class="arrowText">Erfarenheter</p>
        </div>
    </div>

    <div id="skills-wrap">

        <div id="education-container">
            <p class="font-headline">Utbildning</p>
            <div id="education">
                <a href="" class="tumb-unit">
                    <div class="tumb-overlay">
                        <strong>Systemutvetare</strong>
                    </div>
                </a>
                <a href="" class="tumb-unit">
                    <div class="tumb-overlay">
                        <strong>Systemutvecklare</strong>
                    </div>
                </a>
                <a href="" class="tumb-unit">
                    <div class="tumb-overlay">
                        <strong>Röntgensjuksköterska</strong>
                    </div>
                </a>
                <a href="" class="tumb-unit">
                    <div class="tumb-overlay">
                        <strong>Undersköterska</strong>
                    </div>
                </a>
            </div>
        </div>

        <div id="skills-container">
            <p class="font-headline">Egenskaper</p>
            <div id="skills">
                <div class="skills-unit">
                    <div class="skills-lable">Kommunikation</div>
                    <div class="skills-icons skill-8">
                        <span></span><span></span><span></span><span></span><span></span>
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="skills-unit">
                    <div class="skills-lable">Inlärning</div>
                    <div class="skills-icons skill-9">
                        <span></span><span></span><span></span><span></span><span></span>
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="skills-unit">
                    <div class="skills-lable">Planering</div>
                    <div class="skills-icons skill-7">
                        <span></span><span></span><span></span><span></span><span></span>
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="skills-unit">
                    <div class="skills-lable">Samarbete</div>
                    <div class="skills-icons skill-8">
                        <span></span><span></span><span></span><span></span><span></span>
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="skills-unit">
                    <div class="skills-lable">Organisering</div>
                    <div class="skills-icons skill-7">
                        <span></span><span></span><span></span><span></span><span></span>
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="skills-unit">
                    <div class="skills-lable">Självständighet</div>
                    <div class="skills-icons skill-8">
                        <span></span><span></span><span></span><span></span><span></span>
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="skills-unit">
                    <div class="skills-lable">Kreativitet</div>
                    <div class="skills-icons skill-7">
                        <span></span><span></span><span></span><span></span><span></span>
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="skills-unit">
                    <div class="skills-lable">Programmering</div>
                    <div class="skills-icons skill-7">
                        <span></span><span></span><span></span><span></span><span></span>
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
            </div>
        </div>

        <div id="experience-container">
            <p class="font-headline">Erfarenheter</p>
            <div id="experience">
                
            </div>
        </div>
    </div>
</div>




@*<div id="ed-systemvetare" class="thumb-container">
    <p class="skills-fontHeader">Systemutvetare (pågående)</p>
    <p class="skills-exam">Kandidat examen jan 2015</p>
    <p class="skills-text">Två årig utbildning.....</p>
</div>
<div id="ed-system" class="thumb-container">
    <p class="skills-fontHeader">Systemutvecklare</p>
    <p class="skills-exam">Högskole examen juni 2014</p>
    <p class="skills-text">Två årig utbildning.....</p>
</div>
<div id="ed-xray" class="thumb-container">
    <p class="skills-fontHeader">Röntgensjuksköterska</p>
    <p class="skills-exam">Kandidat examen juni 2011</p>
    <p class="skills-text">Tre årig utbildning.....</p>
</div>
<div id="ed-nurse" class="thumb-container">
    <p class="skills-fontHeader">Undersköterska</p>
    <p class="skills-exam">Gymnasie utbildning juni 2008</p>
    <p class="skills-text">Ett årig utbildning.....</p>
</div>*@


