
<footer id="footer">
    <div id="lockup">
        <div id="content-wrap">
            <nav class="navigationMenu" style="float:none">
                <a href="#header-wrap">Titel</a>
                @{Html.RenderPartial("_Nav");}
            </nav>

            <p id="copyright">&copy; @DateTime.Now.Year - Linda Nguyen CV</p>
        </div>
    </div>
</footer>

