
<!-- ko -->

<div id="home" class="jumbotron col-lg-12" style="height:500px; background-color:#0094ff; padding-top:0px">
    <div style="float:right; margin-right:15px;">
        <nav style="position:fixed; clear:both; margin-top:50px;">
            @{Html.RenderPartial("_Nav");}
        </nav>
    </div>
    <div class="container" style="border: 10px solid white;width:600px; margin-top:50px">
        <label class="container" style="text-transform:uppercase; color:white; 
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
            padding:10px 10px 10px 10px; text-align:center; font-size:60px">Linda Nguyen</label>
    </div>
    <div>
        <label style="text-transform:uppercase; color:white;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
             text-align:center; font-size:40px;">Systemutvecklare</label>
    </div>
     @*<p>First Name <input id="firstName" class="form-control" type="text" data-bind="value: firstName, valueUpdate: 'keyup'" /> </p>
    <p>Last Name <input id="lastName" class="form-control" type="text" data-bind="value: lastName, valueUpdate: 'keyup'" /> </p>

    <p>First Name: <span data-bind="text: firstName"></span></p>
    <p>Last Name: <span data-bind="text: lastName"></span></p>*@
</div>
 <!-- /ko -->

   

