
<header id="header-wrap">
    <nav id="nav">
        @{Html.RenderPartial("_Nav");}
    </nav>
    <h1 id="titel"><span>Linda Nguyen</span></h1>
    <p id="kicker">systemutvecklare</p>
</header>


   

