<div id="leisure">
    <br />
    <p class="font-headline">Fritid</p>
    
    <div id="icon-wrap">
        <div class="row">
            <div id="camera-icon" class="col-xs-6 col-sm-3">
                <div id="camera" class="leisure-icon"></div>
            </div>
            <div id="computer-icon" class="col-xs-6 col-sm-3">
                <div id="computer" class="leisure-icon"></div>
            </div>
            <div id="pencil-icon" class="col-xs-6 col-sm-3">
                <div id="pencil" class="leisure-icon"></div>
            </div>
            <div id="book-icon" class="col-xs-6 col-sm-3">
                <div id="book" class="leisure-icon"></div>
            </div>
        </div>
    </div>

    <div id="leisure-arrow-wrap">
        <div id="leisure-leftArrow-wrap">
            <div id="leisure-arrowL"></div>
            <p id="leisure-arrowTextL" class="leisure-arrowText">Nära & Kära</p>

        </div>
        <div id="leisure-rightArrow-wrap">
            <div id="leisure-arrowR"></div>
            <p id="leisure-arrowTextR" class="leisure-arrowText">Intressen</p>
        </div>
    </div>


    <div id="leisure-wrap">

        <div id="family-container">
            <p class="font-sub-headline">Nära & kära</p>
            @{Html.RenderPartial("_Family");}
        </div>

        <div id="interest-container">
            <p class="font-sub-headline">Intressen</p>
            @{Html.RenderPartial("_Interests");}
        </div>

    </div>
</div>

