#aboute{

}

#picture-wrap{
    max-width:700px;
    margin:0px auto;
}

#picture {
    height:200px;
    width:200px;
    border-radius: 50%;
    background: url('../fonts/img/profil1.png') no-repeat;
    margin:0px auto;
    background-size:cover;
    border:2px solid #ced7e0;
}

#camera{
    height:60px;
    width:60px;
    border-radius: 50%;
    background: url('../fonts/img/photographer1.svg') no-repeat;
    margin:0px auto;
    background-size:cover;
    background-color:#ced7e0;
}

#mouse{
    height:60px;
    width:60px;
    border-radius: 50%;
    background: url('../fonts/img/computer25.svg') no-repeat;
    margin:0px auto;
    background-size:cover;
    background-color:#ced7e0;
}

#pencil{
    height:60px;
    width:60px;
    border-radius: 50%;
    background: url('../fonts/img/paint41.svg') no-repeat;
    margin:0px auto;
    background-size:cover;
    background-color:#ced7e0;
}

#book{
    height:60px;
    width:60px;
    border-radius: 50%;
    background: url('../fonts/img/books8.svg') no-repeat;
    margin:0px auto;
    background-size:cover;
    background-color:#ced7e0;
}

#profile-text{
    max-width:600px;
    margin:0 auto;
}

#skills-wrap{
    max-width:900px;
    height:200px;
    margin: 30px auto;
    background-color:#ced7e0;
}