#leisure{
    height:auto;
    overflow-x:hidden;
    background-color:#d4e3ea;
}

#icon-wrap{
    max-width:700px;
    margin:0px auto;
}


.leisure-icon {
    height:100px;
    width:100px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #abb7c9;
    margin:10px auto;
}

#camera {
    background: url('../fonts/img/photographer1.png') no-repeat;
    -ms-background-size:cover;
    background-size:cover;
}

#computer {
    background: url('../fonts/img/computer25.png') no-repeat;
    -ms-background-size:cover;
    background-size:cover;
}

#pencil {
    background: url('../fonts/img/paint41.png') no-repeat;
    -ms-background-size:cover;
    background-size:cover;
}

#book {
    background: url('../fonts/img/books8.png') no-repeat;
    -ms-background-size:cover;
    background-size:cover;
}

#leisure-wrap {
    width:200%;
    margin-top: -30px;
    position:relative;
    left:0%;
    height:auto;
    font-size:15px;
    font-weight:bold;
    overflow-x:hidden;
    -webkit-transition:ease-in-out 0.5s;
    -moz-transition:ease-in-out 0.5s;
    -ms-transition:ease-in-out 0.5s;
    -o-transition:ease-in-out 0.5s;
    transition:ease-in-out 0.5s;
}

#family-container, #interest-container{
    width:50%;
    float:left;
}

#leisure-arrow-wrap{
    height:80px;
    max-width:200px;
    margin:30px auto;
}

#leisure-leftArrow-wrap{
    float:left;
    height:80px;
    width:80px;
}

#leisure-arrowL {
    height:40px;
    width:40px;
    margin:0px auto;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: url('../fonts/img/arrowLeft.png') no-repeat;
    -ms-background-size:cover;
    background-size:cover;
    background-color:#ffffff;
    border: 3px solid black;
    -ms-opacity: 0.5;
    opacity: 0.5;
    cursor:pointer;
}

#leisure-arrowL:hover {
    -ms-opacity: 0.75;
    opacity: 0.75;
}

#leisure-rightArrow-wrap{
    float:right;
    height:80px;
    width:80px;
}

#leisure-arrowR {
    margin:0px auto;
    height:40px;
    width:40px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: url('../fonts/img/arrowRight.png') no-repeat;
    -ms-background-size:cover;
    background-size:cover;
    background-color:#ffffff;
    border: 3px solid black;
    -ms-opacity: 0.5;
    opacity: 0.5;
    cursor:pointer;
}

#leisure-arrowR:hover {
    -ms-opacity: 0.75;
    opacity: 0.75;
}

.leisure-arrowText {
    margin-top:5px;
    text-align:center;
    text-transform:uppercase;
    font-size:12px;
    -ms-opacity:0.75;
    opacity:0.75;
}

@media screen and (max-width: 800px){

    #icon-wrap{
        max-width:400px;
    }
}


@media screen and (max-width: 330px){

    .leisure-icon {
        height:85px;
        width:85px;
    }
}