#aboute{
    height:auto;
    overflow-x:hidden;
}

#aboute-title{
    padding-top:40px;
    padding-bottom:30px;
}

#picture-wrap{
    max-width:700px;
    margin:0px auto;
}

#picture {
    height:200px;
    width:200px;
    border-radius: 50%;
    background: url('../fonts/Profile/DSC_0159,2.png') no-repeat;
    margin:0px auto;
    background-size:cover;
    border:2px solid #ced7e0;
}

#camera{
    height:100px;
    width:100px;
    border-radius: 50%;
    background: url('../fonts/img/photographer1.svg') no-repeat;
    margin:10px auto;
    background-size:cover;
    background-color:#ced7e0;
}

#computer{
    height:100px;
    width:100px;
    border-radius: 50%;
    background: url('../fonts/img/computer25.svg') no-repeat;
    margin:10px auto;
    background-size:cover;
    background-color:#ced7e0;
}

#pencil{
    height:100px;
    width:100px;
    border-radius: 50%;
    background: url('../fonts/img/paint41.svg') no-repeat;
    margin:10px auto;
    background-size:cover;
    background-color:#ced7e0;
}

#book{
    height:100px;
    width:100px;
    border-radius: 50%;
    background: url('../fonts/img/books8.svg') no-repeat;
    margin:10px auto;
    background-size:cover;
    background-color:#ced7e0;
}

#skills-wrap{
    width:300%;
    position:relative;
    left:-100%;
    height:auto;
    margin: 30px auto;
    font-size:15px;
    font-weight:bold;
    background-color:#ffffff;
    overflow-x:hidden;
    transition:ease-in-out 0.5s;
}

#arrow-wrap{
    height:80px;
    max-width:200px;
    margin:0px auto;
}

#leftArrow-wrap{
    float:left;
    height:80px;
    width:80px;
}

#arrowL{
    height:40px;
    width:40px;
    margin:0px auto;
    border-radius: 50%;
    background: url('../fonts/img/arrowLeft.svg') no-repeat;
    background-size:cover;
    background-color:#ffffff;
    border: 3px solid black;
    opacity: 0.5;
    cursor:pointer;
}

#arrowL:hover{
    opacity: 0.75;
}

#rightArrow-wrap{
    float:right;
    height:80px;
    width:80px;
}

#arrowR{
    margin:0px auto;
    height:40px;
    width:40px;
    border-radius: 50%;
    background: url('../fonts/img/arrowRight.svg') no-repeat;
    background-size:cover;
    background-color:#ffffff;
    border: 3px solid black;
    opacity: 0.5;
    cursor:pointer;
}

#arrowR:hover{
    opacity: 0.75;
}

.arrowText{
    margin-top:5px;
    text-align:center;
    text-transform:uppercase;
    font-size:12px;
    opacity:0.75;
}

#education-container, #skills-container, #experience-container{
    width:33%;
    float:left;
}

#education{
    max-width:700px;
    margin: 0px auto;
    padding-left:20px;
    padding-right:20px;
    text-align:center;
    clear:both;
}

.thumb-container{
    display:none;
    position: absolute;
    top: 125%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 5px solid #76aadd;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.close-btn{
    cursor:pointer;
    opacity:0.7;
}

.close-btn:hover{
    opacity:1;
}

.tumb-unit{
    display:block;
    width:50%;
    height:180px;
    background:pink;
    float:left;
    position:relative;
    padding-top:20%;
    overflow:hidden;
    cursor:pointer;
    perspective:(300);
}

.tumb-overlay{
    position:absolute;
    height:100%;
    top:100%;
    left:0;
    right:0;
    background: #76aadd;
    opacity:0.55;
    padding-top:60px;
    justify-content:space-around;
    transition:ease-in-out 0.2s;
}

.tumb-overlay > strong {
    text-align:center;
    color:#ffffff;
    font-size:20px;
    text-transform:uppercase;
    font-weight:600;
    line-height:1.2;
    opacity:1;
}

.tumb-overlay > p{
    text-align:center;
    color:#ffffff;
    font-size:14px;
    font-weight:400;
    opacity:1;
}

.tumb-unit:hover > .tumb-overlay{
    position:absolute;
    top:0%;
    left:0%;
    right:0%;
    bottom:0%;
    background: #76aadd;
    opacity:0.95;
}

#tumb-systemvetare{
    background: url('../fonts/img/DSC_1240.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}

#tumb-system{
    background: url('../fonts/img/DSC_1264.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}

#tumb-rtgssk{
    background: url('../fonts/img/DSC_1904.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}

#tumb-usk{
    background: url('../fonts/img/DSC_1180.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}

.skills-text-s{
    font-size:20px;
    font-weight:600;
}

.popUp-Icon{
    width:100px;
    height:100px;
    margin:50px auto;
}

#skills{
    max-width:700px;
    margin: 0px auto;
    color:#808080;
    padding-left:140px;
    padding-right:20px;
    padding-bottom:30px;
    background-color:#ffffff;
}

.skills-unit{
    width:250px;
    float:left;
}

.skills-icons{
    font-size:0px;
    margin-bottom:40px;
}

.skills-icons > span{
    display:inline-block;
    margin-right:5px;
    border: 4px solid #76aadd;
    border-radius:50%;
}

.skills-icons > span::after{
    content:'';
    display:block;
    margin-right:2px;
    border: 3px solid white;
    border-radius:50%;
    margin-right:2px;
}

.skill-0 span:nth-child(n+1){
    border: 5px solid #ededed;
}
.skill-1 span:nth-child(n+2){
    border: 5px solid #ededed;
}
.skill-2 span:nth-child(n+3){
    border: 5px solid #ededed;
}
.skill-3 span:nth-child(n+4){
    border: 5px solid #ededed;
}
.skill-4 span:nth-child(n+5){
    border: 5px solid #ededed;
}
.skill-5 span:nth-child(n+6){
    border: 5px solid #ededed;
}
.skill-6 span:nth-child(n+7){
    border: 5px solid #ededed;
}
.skill-7 span:nth-child(n+8){
    border: 5px solid #ededed;
}
.skill-8 span:nth-child(n+9){
    border: 5px solid #ededed;
}
.skill-9 span:nth-child(n+10){
    border: 5px solid #ededed;
}


@media screen and (max-width: 1300px){
    .thumb-container{
        left:10%;
        width: 80%;
        height: 50%;
    }
}

@media screen and (max-width: 720px){

    .tumb-unit{
        width:75%;
        height:200px;
        margin:0px auto;
        float:none;
    }

    #skills{
        padding-left:70px;
        max-width:330px;
    }

    .skills-unit{
        padding-left:0px;
    }

    .skills-text-s{
        font-size:16px;
    }

    .popUp-Icon{
        margin:40px auto;
        width:90px;
        height:90px;
    }
}

@media screen and (max-width: 420px){
    .thumb-container{
        left:0%;
        width: 100%;
        height: 50%;
    }

    .tumb-unit{
        width:100%;
        height:200px;
    }

    .tumb-overlay > strong {
        font-size:16px;
    }

    .popUp-Icon{
        margin:30px auto;
        width:90px;
        height:90px;
    }
}

@media screen and (max-width: 330px){
    #camera{
        height:85px;
        width:85px;
    }

    #computer{
        height:85px;
        width:85px;
    }

    #pencil{
        height:85px;
        width:85px;
    }

    #book{
        height:85px;
        width:85px;
    }
    
    .tumb-unit{
        width:100%;
        height:150px;
    }

    #skills{
        padding-left:10px;
        max-width:260px;
        padding-right:10px;
    }

    .skills-unit{
        padding-left:0px;
    }

    .popUp-Icon{
        margin:20px auto;
        width:70px;
        height:70px;
    }
}